{% extends 'base.html' %} 
{% load static %} 
{% block title %}Football Fair{% endblock title %} 
{% block body %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner ">
        {% for n in slider %}
        <div class="carousel-item cus-carousel {% if forloop.counter0 == 0 %}active{% endif %}">
            <img src="/media/{{n.Slider_Image}}" height="600px" width="auto" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>{{n.Slider_Title | safe}}</h5>
                <p>{{n.Slider_Description | safe}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>



<!-- Three columns of text below the carousel -->
<div class="text-center py-5 bg-light">
    <div class="container">
        <h1 class="pb-3">Shop Owners</h1>
        <div class="row">
            <div class="col-lg-4">
                <img src="{% static 'img/MDSiyam.png' %}" class="bd-placeholder-img rounded-circle" width="100" height="100">
                <title>Placeholder</title>

                <h2>Mohammad Siyam</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
                </p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="{% static 'img/ElonMusk.jpg' %}" class="bd-placeholder-img rounded-circle" width="100" height="100">
                <title>Placeholder</title>
                <h2>Elon Musk</h2>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="{% static 'img/BillGates.jpg' %}" class="bd-placeholder-img rounded-circle" width="100" height="100">
                <title>Placeholder</title>
                <h2>Bill Gates</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus.</p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
</div>

<section class="container py-4">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2 class="center">Contact Us</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                    <input type="text" name="name" class="form-control" id="Your Full Name" placeholder="Full Name">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="mb-1">
                    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                    <textarea class="form-control" name="message" id="exampleFormControlTextarea1" placeholder="Write Message" rows="3"></textarea>
                </div>
                <button class="btn btn-outline-success center" type="submit">Send</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</section>
{% endblock body %}