{% extends 'base.html' %} 
{% load static %} 
{% block title %}Products{% endblock title %} 
{% block body %}

<div class="container mt-5">
    <h1>Footballs</h1>
    <div class="owl-carousel owl-theme center">
        {% for item in football %}
        <div class="item">
            <div class="card" style="width: 18rem;">
                <img src="/media/{{item.Product_Image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">{{item.Product_Description}}</p>
                    <p>{{item.Price}} Tk.</p>
                    <a href="#" class="btn btn-primary"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>Place Order</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



<div class="container">
    <h1>Jerseys</h1>
    <div class="owl-carousel owl-theme center">
        {% for item in jersey %}
        <div class="item">
            <div class="card" style="width: 18rem;">
                <img src="/media/{{item.Product_Image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">{{item.Product_Description}}</p>
                    <p>{{item.Price}} Tk.</p>
                    <a href="#" class="btn btn-primary"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>Place Order</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



<div class="container">
    <h1>Shoes</h1>
    <div class="owl-carousel owl-theme center">
        {% for item in shoe %}
        <div class="item">
            <div class="card" style="width: 18rem;">
                <img src="/media/{{item.Product_Image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">{{item.Product_Description}}</p>
                    <p>{{item.Price}} Tk.</p>
                    <a href="#" class="btn btn-primary"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>Place Order</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



<div class="container">
    <h1>Goalkeepers Hand Glubs</h1>
    <div class="owl-carousel owl-theme center">
        {% for item in glubs %}
        <div class="item">
            <div class="card" style="width: 18rem;">
                <img src="/media/{{item.Product_Image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">{{item.Product_Description}}</p>
                    <p>{{item.Price}} Tk.</p>
                    <a href="#" class="btn btn-primary"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>Place Order</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<div class="container">
    <h1>Others</h1>
    <div class="owl-carousel owl-theme center">
        {% for item in other %}
        <div class="item">
            <div class="card" style="width: 18rem;">
                <img src="/media/{{item.Product_Image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{item.Product_Name}}</h5>
                    <p class="card-text">{{item.Product_Description}}</p>
                    <p>{{item.Price}} Tk.</p>
                    <a href="#" class="btn btn-primary"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>Place Order</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}